extends layout 
 
block content 
  h1= title 
 
  - let canteenid = toShow._id 
  - let Item_name = toShow.Item_name 
  - let Item_type = toShow.Item_type 
  - let Item_price = toShow.Item_price 
  div 
    div.row 
      div(class='canteenAttr mr-3') Canteen ID is: 
      div #{canteenid} 
    div.row 
      div(class='canteenAttr mr-3') Item Name is: 
      div #{Item_name} 
    div.row 
      div(class='canteenAttr mr-3') Item Type is: 
      div #{Item_type} 
    div.row 
      div(class='canteenAttr mr-3') Item Price is: 
      div #{Item_price} 
    