extends layout

block content
  h1= title
  - let items = results; 
  button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/canteen/create\")` ) Create a new Item
  table(class="table table-stripped table-bordered")
        thead(style="background-color:brown;color:white") 
            tr
                td Item ID
                td Item name 
                td Item Type 
                td Item Price 
                td Update
                td Details
                td Delete
        tbody
            
            each item in items
                tr
                    td #{item._id}
                    td #{item.Item_name}
                    td #{item.Item_type}
                    td #{item.Item_price}
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/canteen/update/?id=${item._id}\")` ) Update
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/canteen/detail/?id=${item._id}\")` ) Details
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/canteen/delete/?id=${item._id}\")` ) Delete 
                script. 
                  function dispatch(path){ 
                    window.location.href=path 
                  } 