extends layout

block content
  h1= title
  - let items = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:brown;color:white") 
            tr
                td Item ID
                td Item name 
                td Item Type 
                td Item Price 
        tbody 
            each item in items 
                tr
                    td #{item._id}
                    td #{item.Item_name}
                    td #{item.Item_type}
                    td #{item.Item_price}